<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminSignIn</servlet-name>
        <servlet-class>controller.admin.AdminSignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCategory</servlet-name>
        <servlet-class>controller.admin.ListCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHome</servlet-name>
        <servlet-class>controller.admin.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategory</servlet-name>
        <servlet-class>controller.admin.UpdateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategory</servlet-name>
        <servlet-class>controller.admin.DeleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>controller.admin.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>controller.admin.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>controller.admin.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProduct</servlet-name>
        <servlet-class>controller.admin.SearchProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListGalery</servlet-name>
        <servlet-class>controller.admin.ListGalery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGalery</servlet-name>
        <servlet-class>controller.admin.DeleteGalery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGalery</servlet-name>
        <servlet-class>controller.admin.AddGalery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateGalery</servlet-name>
        <servlet-class>controller.admin.UpdateGalery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchGalery</servlet-name>
        <servlet-class>controller.admin.SearchGalery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHome</servlet-name>
        <servlet-class>controller.user.UserHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProductDetails</servlet-name>
        <servlet-class>controller.user.UserProductDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>dao.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSignIn</servlet-name>
        <servlet-class>controller.user.UserSignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSignUp</servlet-name>
        <servlet-class>controller.user.UserSignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>controller.user.UserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>controller.user.UserUpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserChangePassword</servlet-name>
        <servlet-class>controller.user.UserChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSignOut</servlet-name>
        <servlet-class>controller.user.UserSignOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminSignIn</servlet-name>
        <url-pattern>/admin_sign_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCategory</servlet-name>
        <url-pattern>/list_category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHome</servlet-name>
        <url-pattern>/admin_home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategory</servlet-name>
        <url-pattern>/update_category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategory</servlet-name>
        <url-pattern>/delete_category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/add_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/update_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/delete_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProduct</servlet-name>
        <url-pattern>/search_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListGalery</servlet-name>
        <url-pattern>/list_galery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGalery</servlet-name>
        <url-pattern>/delete_galery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGalery</servlet-name>
        <url-pattern>/add_galery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateGalery</servlet-name>
        <url-pattern>/update_galery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchGalery</servlet-name>
        <url-pattern>/search_galery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHome</servlet-name>
        <url-pattern>/user_home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProductDetails</servlet-name>
        <url-pattern>/user_product_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSignIn</servlet-name>
        <url-pattern>/user_sign_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSignUp</servlet-name>
        <url-pattern>/user_sign_up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/user_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/user_update_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserChangePassword</servlet-name>
        <url-pattern>/user_change_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSignOut</servlet-name>
        <url-pattern>/user_sign_out</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
</web-app>
