<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>UserHomeFilter</filter-name>
        <filter-class>filter.user.UserHomeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UserRoleFilter</filter-name>
        <filter-class>filter.user.UserRoleFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UserSignInFilter</filter-name>
        <filter-class>filter.user.UserSignInFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserHomeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserRoleFilter</filter-name>
        <url-pattern>/add_category</url-pattern>
        <url-pattern>/add_galery</url-pattern>
        <url-pattern>/add_product</url-pattern>
        <url-pattern>/delete_category</url-pattern>
        <url-pattern>/delete_galery</url-pattern>
        <url-pattern>/delete_product</url-pattern>
        <url-pattern>/list_category</url-pattern>
        <url-pattern>/list_galery</url-pattern>
        <url-pattern>/list_product</url-pattern>
        <url-pattern>/search_category</url-pattern>
        <url-pattern>/search_galery</url-pattern>
        <url-pattern>/search_product</url-pattern>
        <url-pattern>/update_category</url-pattern>
        <url-pattern>/update_galery</url-pattern>
        <url-pattern>/update_product</url-pattern>
        <url-pattern>/admin_home</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserSignInFilter</filter-name>
        <url-pattern>/user_profile</url-pattern>
        <url-pattern>/user_update_profile</url-pattern>
        <url-pattern>/user_change_password</url-pattern>
        <url-pattern>/user_check_out</url-pattern>
        <url-pattern>/user_list_order</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ListCategory</servlet-name>
        <servlet-class>controller.admin.ListCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHome</servlet-name>
        <servlet-class>controller.admin.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategory</servlet-name>
        <servlet-class>controller.admin.UpdateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategory</servlet-name>
        <servlet-class>controller.admin.DeleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>controller.admin.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>controller.admin.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>controller.admin.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListGalery</servlet-name>
        <servlet-class>controller.admin.ListGalery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGalery</servlet-name>
        <servlet-class>controller.admin.DeleteGalery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGalery</servlet-name>
        <servlet-class>controller.admin.AddGalery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateGalery</servlet-name>
        <servlet-class>controller.admin.UpdateGalery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchGalery</servlet-name>
        <servlet-class>controller.admin.SearchGalery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHome</servlet-name>
        <servlet-class>controller.user.UserHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProductDetails</servlet-name>
        <servlet-class>controller.user.UserProductDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSignIn</servlet-name>
        <servlet-class>controller.user.UserSignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSignUp</servlet-name>
        <servlet-class>controller.user.UserSignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>controller.user.UserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>controller.user.UserUpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserChangePassword</servlet-name>
        <servlet-class>controller.user.UserChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSignOut</servlet-name>
        <servlet-class>controller.user.UserSignOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>controller.admin.AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProduct</servlet-name>
        <servlet-class>controller.admin.ListProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCategory</servlet-name>
        <servlet-class>controller.admin.SearchCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProducts</servlet-name>
        <servlet-class>controller.user.UserProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAddToCart</servlet-name>
        <servlet-class>controller.user.UserAddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCart</servlet-name>
        <servlet-class>controller.user.UserCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCheckItemQuantity</servlet-name>
        <servlet-class>controller.user.UserCheckItemQuantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCheckOut</servlet-name>
        <servlet-class>controller.user.UserCheckOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrder</servlet-name>
        <servlet-class>controller.admin.ListOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSize</servlet-name>
        <servlet-class>controller.admin.AddSize</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSize</servlet-name>
        <servlet-class>controller.admin.ListSize</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSize</servlet-name>
        <servlet-class>controller.admin.UpdateSize</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSize</servlet-name>
        <servlet-class>controller.admin.DeleteSize</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListInventory</servlet-name>
        <servlet-class>controller.admin.ListInventory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddInventory</servlet-name>
        <servlet-class>controller.admin.AddInventory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseProduct</servlet-name>
        <servlet-class>controller.admin.ChooseProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteInventory</servlet-name>
        <servlet-class>controller.admin.DeleteInventory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInventory</servlet-name>
        <servlet-class>controller.admin.UpdateInventory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSuccess</servlet-name>
        <servlet-class>controller.user.UserSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserOrderList</servlet-name>
        <servlet-class>controller.user.UserOrderList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListCategory</servlet-name>
        <url-pattern>/list_category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHome</servlet-name>
        <url-pattern>/admin_home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategory</servlet-name>
        <url-pattern>/update_category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategory</servlet-name>
        <url-pattern>/delete_category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/add_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/update_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/delete_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListGalery</servlet-name>
        <url-pattern>/list_galery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGalery</servlet-name>
        <url-pattern>/delete_galery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGalery</servlet-name>
        <url-pattern>/add_galery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateGalery</servlet-name>
        <url-pattern>/update_galery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchGalery</servlet-name>
        <url-pattern>/search_galery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHome</servlet-name>
        <url-pattern>/user_home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProductDetails</servlet-name>
        <url-pattern>/user_product_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSignIn</servlet-name>
        <url-pattern>/user_sign_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSignUp</servlet-name>
        <url-pattern>/user_sign_up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/user_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/user_update_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserChangePassword</servlet-name>
        <url-pattern>/user_change_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSignOut</servlet-name>
        <url-pattern>/user_sign_out</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/views/user/error_404.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/add_category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProduct</servlet-name>
        <url-pattern>/list_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCategory</servlet-name>
        <url-pattern>/search_category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProducts</servlet-name>
        <url-pattern>/user_products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAddToCart</servlet-name>
        <url-pattern>/user_add_to_cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCart</servlet-name>
        <url-pattern>/user_cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCheckItemQuantity</servlet-name>
        <url-pattern>/user_check_item_quantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCheckOut</servlet-name>
        <url-pattern>/user_check_out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrder</servlet-name>
        <url-pattern>/admin-list-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSize</servlet-name>
        <url-pattern>/admin-add-size</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSize</servlet-name>
        <url-pattern>/admin-list-size</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSize</servlet-name>
        <url-pattern>/admin-update-size</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSize</servlet-name>
        <url-pattern>/admin-delete-size</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListInventory</servlet-name>
        <url-pattern>/admin-list-inventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddInventory</servlet-name>
        <url-pattern>/admin-add-inventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseProduct</servlet-name>
        <url-pattern>/admin-choose-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteInventory</servlet-name>
        <url-pattern>/admin-delete-inventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInventory</servlet-name>
        <url-pattern>/admin-update-inventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSuccess</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserOrderList</servlet-name>
        <url-pattern>/user_list_order</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
