/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 26, 2023, 12:25:47 AM
    Author     : Bach
*/

.header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
}

.content {
    margin: 175px 0 40px 0;
    min-height: calc(970px - 175px - 97px - 41px);
}

.content .search {
    border: none;
    padding: 0;
    background: none;
}

.content .search-icon {
    padding: 10px 10px;
}

.s-cart {
    margin-right: 5px;
}

.total-items {
    border-bottom: 1px solid #001f3f;
}

.content .data-href {
    cursor: pointer;
}

.table-dark.table-striped tbody tr:nth-of-type(odd):hover{
    background-color: #fff;
    color: #232323;
}

.content .data-href:hover {
    background-color: #fff;
    color: #232323;
}

.cancel-order {
    margin-right: -15px;
}