/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 26, 2023, 12:25:47 AM
    Author     : Bach
*/

.header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
}

.content {
    margin-top: 175px;
}

.content .search {
    border: none;
    padding: 0;
    background: none;
}

.content .search-icon {
    padding: 10px 10px;
}